############################################################################################
################## -- Programa de Especialización en Data Science Nivel I --##########################
############################################################################################

Modelos Clasificación : Regresión Logística

Autores : José Cárdenas - André Chávez

In [2]:
#######################################################################
################# Modelo de Regresión Logística  ######################
#######################################################################

In [3]:
#Importar las librerías necesarias en Python.
import pandas as pd ## Manejo de dataframes o set de datos
import matplotlib.pyplot as plt2 ## Todo lo referente a gráficas y demás.
import matplotlib as plt
%matplotlib inline
import numpy as np ## Todo lo referente a trabajar con vectores y matrices
from scipy import stats ## Herramientas y algoritmos matemáticos para python
import seaborn as sns # Se basa en Matplotlib y la complementa en el tema de graficos y demás.

In [4]:
# Leer el dataset en un dataframe usando pandas
train = pd.read_csv("C:/Users/WAVE PC/Desktop/Dictado de Cursos/Prima AFP/3.Clase 3/DataSet/train.csv")

In [5]:
train.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N

In [5]:
#train.loc[(train['Gender']=='Female')|(train['Married']=='No'),['Gender','Married']]

In [6]:
# Revisar los valores perdidos
#Creamos una función:
def num_missing(x):
  return sum(x.isnull())

#Aplicamos por columna:
print ("Valores perdidos por columna")
print (train.apply(num_missing, axis=0)) # Axis = 0 es vertical , axis =1 horizontal.

Valores perdidos por columna
Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
train['Dependents'] = train['Dependents'].replace({'0': 1,'1': 2, '2': 3, '3+': 4})
train['Gender'] = train['Gender'].replace({'Female': 1,'Male': 2})
train['Married'] = train['Married'].replace({'No': 1,'Yes': 2})
train['Self_Employed'] = train['Self_Employed'].replace({'No': 1,'Yes': 2})
train['Education'] = train['Education'].replace({'Graduate': 1,'Not Graduate': 2})
train['Credit_History'] = train['Credit_History'].replace({0: 1,1: 2})
train['Property_Area'] = train['Property_Area'].replace({'Rural': 1, 'Semiurban': 2, 'Urban': 3})
train['Loan_Status'] = train['Loan_Status'].replace({'N': 0,'Y': 1})

In [8]:
# Creamos un copia del dataset original para poder realizar las imputaciones
# Imputacion del Data train
train_parametrica=train.copy()
#train_parametrica.head(5)

In [9]:
# Imputación Paramétrica
# Para variables cuantitativas se puede usar medias o medianas, para las cualitativas moda.
# Imputamos por las moda todas las variables cualitativas
from scipy.stats import mode

for column in ['Gender', 'Married', 'Self_Employed', 'Credit_History','Dependents']:
    train_parametrica[column] = train_parametrica[column].fillna(train_parametrica[column].mode()[0])

# Imputamos por las moda todas las variables cuantitativas

for column in ['LoanAmount', 'Loan_Amount_Term']:
    train_parametrica[column] = train_parametrica[column].fillna(train_parametrica[column].median())

In [10]:
# Revisar los valores perdidos
#Creamos una función:
def num_missing(x):
  return sum(x.isnull())

#Aplicamos por columna:
print ("Valores perdidos por columna")
print (train_parametrica.apply(num_missing, axis=0))

Valores perdidos por columna
Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [11]:
train_parametrica.head(2)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,2.0,1.0,1.0,1,1.0,5849,0.0,128.0,360.0,2.0,3,1
1,LP001003,2.0,2.0,2.0,1,1.0,4583,1508.0,128.0,360.0,2.0,1,0

In [12]:
# Le quitamos la variable Loan_ID o identificador único para poder modelar la información 
train_parametrica = train_parametrica.drop('Loan_ID', axis=1)

In [17]:
# Creación de la data de train y la data de test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train_parametrica.drop('Loan_Status', axis=1), 
                                                    train_parametrica['Loan_Status'], test_size=0.20,random_state=123)

In [ ]:
#######################################################################
##### Modelo de Regresión Logística ###################################
#######################################################################

In [19]:
import statsmodels.api as sm
logit_model=sm.Logit(y_train,X_train)
result=logit_model.fit()
#result.summary2()

Optimization terminated successfully.
         Current function value: 0.481351
         Iterations 6

In [20]:
result.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                         Results: Logit
=================================================================
Model:                Logit            No. Iterations:   6.0000
Dependent Variable:   Loan_Status      Pseudo R-squared: 0.218
Date:                 2019-06-10 21:11 AIC:              494.6866
No. Observations:     491              BIC:              540.8474
Df Model:             10               Log-Likelihood:   -236.34
Df Residuals:         480              LL-Null:          -302.19
Converged:            1.0000           Scale:            1.0000
-----------------------------------------------------------------
                   Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
-----------------------------------------------------------------
Gender            -0.5573   0.3238 -1.7211 0.0852 -1.1921  0.0774
Married            0.2853   0.2712  1.0521 0.2928 -0.2462  0.8168
Dependents         0.0279   0.1259  0.2218 0.8245 -0.2188  0.2746
Education         -0.6519   0.2640 -2.4698 0.0135 -1.1693 -0.1346
Self_Employed     -0.6694   0.3097 -2.1614 0.0307 -1.2764 -0.0624
ApplicantIncome   -0.0000   0.0000 -0.3920 0.6951 -0.0001  0.0000
CoapplicantIncome -0.0000   0.0000 -0.6316 0.5277 -0.0001  0.0001
LoanAmount        -0.0006   0.0018 -0.3233 0.7464 -0.0042  0.0030
Loan_Amount_Term  -0.0061   0.0018 -3.4172 0.0006 -0.0097 -0.0026
Credit_History     3.0647   0.3402  9.0092 0.0000  2.3979  3.7314
Property_Area     -0.1979   0.1423 -1.3906 0.1644 -0.4768  0.0810
=================================================================

"""

In [21]:
## Paso N° 02 : Predecir sobre la data de test con el modelo entrenado
y_pred=result.predict(X_test)
y_pred2=np.where(y_pred<0.5,0,1)

In [22]:
## Paso N° 03 : Evaluar indicadores
from sklearn.metrics import (precision_score, recall_score,f1_score,accuracy_score)

print("\tAccuracy: %1.3f\n" % accuracy_score(y_test, y_pred2))
print("\tPrecision: %1.3f" % precision_score(y_test, y_pred2))
print("\tRecall: %1.3f" % recall_score(y_test, y_pred2))
print("\tF1: %1.3f\n" % f1_score(y_test, y_pred2))

	Accuracy: 0.780

	Precision: 0.765
	Recall: 0.963
	F1: 0.852

In [23]:
## Paso N° 03 : Evaluar indicadores
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred2))

             precision    recall  f1-score   support

          0       0.86      0.43      0.57        42
          1       0.76      0.96      0.85        81

avg / total       0.80      0.78      0.76       123

In [ ]:
############### A PRACTICAR #################################################3